---
import Default from "../layouts/Default.astro";
import SimpleTextBlock from "../components/SimpleTextBlock.astro";
import ZebraStripe from "../components/ZebraStripe.astro";
import Slider from "../components/Slider.astro";
import SliderItem from "../components/SliderItem.astro";
import PokemonDataBlock from "../components/PokemonDataBlock.astro";
import PokemonInfoBlock from "../components/PokemonInfoBlock.astro";
import Enamorus from "../assets/images/pokemon/0905Enamorus2.png";
import NewsItem from "../components/NewsItem.astro";
import newsImage from "../assets/images/team-rocket-blasting-off.jpg";
import Navigation from "../components/Navigation.astro";
import LatestNewsBlock from "../components/LatestNewsBlock.astro";
import { setRoute } from "../utils";

const text = `Introducing "PokemonPrime: Your Portal to Pokémon World Updates!" Our website is
    your one-stop destination for all things Pokémon. Stay informed with the
    latest news, discoveries, and adventures straight from the Pokémon world.
    Our global network of Pokémon researchers and journalists ensures real-time
    updates, revealing the newest Pokémon data, news and events. Explore our
    comprehensive Pokémon database, filled with detailed information on each
    creature. Be it regional variants, moves, or evolutions – you'll find it
    here. Our commitment to accuracy means updates occur the moment new
    information surfaces. Join the Pokémon community and embark on your journey
    with PokemonPrime as your trusty companion!`;

const newsText = `Team Rocket, the perennial troublemakers of the Pokémon universe, are once again blasting off into the horizon. With their classic motto and unwavering determination, Jessie, James, and Meowth are up to their mischievous antics, soaring into the sky, ensuring that they're never grounded for too long.`;
const description = `Enarmorus, when it flies to this land from across the sea, the bitter winter comes to an end. According to legend, this Pokémon’s love gives rise to the budding of fresh life across Hisui.`;
const newsItemURL = setRoute("/news/team-rocket");
---

<Default headTitle="PokemonPrime">
  <main>
    <Navigation />
    <ZebraStripe>
      <SimpleTextBlock title="Welcome" text={text} />
    </ZebraStripe>

    <ZebraStripe isDark={true}>
      <LatestNewsBlock title="Latest News">
        <Slider>
          <SliderItem>
            <NewsItem
              title="Team Rocket is blasting off again!"
              publicationDate="14-02-1995"
              description={newsText}
              image={newsImage}
              imageAltText="image alt text"
              href={newsItemURL}
            />
          </SliderItem>

          <SliderItem>
            <NewsItem
              title="Team Rocket is blasting off again!"
              publicationDate="14-02-1995"
              description={newsText}
              image={newsImage}
              imageAltText="image alt text"
              href={newsItemURL}
            />
          </SliderItem>

          <SliderItem>
            <NewsItem
              title="Team Rocket is blasting off again!"
              publicationDate="14-02-1995"
              description={newsText}
              image={newsImage}
              imageAltText="image alt text"
              href={newsItemURL}
            />
          </SliderItem>
        </Slider>
      </LatestNewsBlock>
    </ZebraStripe>

    <ZebraStripe>
      <PokemonDataBlock title="Pokemon Data">
        <PokemonInfoBlock
          title="Latest Discovery"
          number={905}
          description={description}
          name="Enamorus"
          image={Enamorus}
          primaryType="fairy"
          secondaryType="flying"
        />
      </PokemonDataBlock>
    </ZebraStripe>
  </main>
</Default>
