---
import { Stack } from "../utils";
import { setRoute } from "../utils";
import Default from "../layouts/Default.astro";
import SimpleTextBlock from "../components/SimpleTextBlock.astro";
import ZebraStripe from "../components/ZebraStripe.astro";
import Slider from "../components/Slider.astro";
import SliderItem from "../components/SliderItem.astro";
import PokemonDataBlock from "../components/PokemonDataBlock.astro";
import PokemonInfoBlock from "../components/PokemonInfoBlock.astro";
import Enamorus from "../assets/images/pokemon/0905Enamorus2.png";
import NewsItem from "../components/NewsItem.astro";
import newsImage from "../assets/images/team-rocket-blasting-off.jpg";
import Navigation from "../components/Navigation.astro";
import LatestNewsBlock from "../components/LatestNewsBlock.astro";
import data from "../mappers/pages/Home";

const newsText = `Team Rocket, the perennial troublemakers of the Pokémon universe, are once again blasting off into the horizon. With their classic motto and unwavering determination, Jessie, James, and Meowth are up to their mischievous antics, soaring into the sky, ensuring that they're never grounded for too long.`;
const description = `Enarmorus, when it flies to this land from across the sea, the bitter winter comes to an end. According to legend, this Pokémon’s love gives rise to the budding of fresh life across Hisui.`;
const newsItemURL = setRoute("/news/team-rocket");
---

<Default headTitle={data.siteTitle}>
  <main>
    <Navigation />

    {
      data.pageContent.map((contentBlock) => {
        const key = Object.keys(contentBlock)[0];
        if (key === "simple_text_block") {
          return (
            <ZebraStripe>
              <SimpleTextBlock
                title={contentBlock[key].title}
                text={contentBlock[key].introduction}
              />
            </ZebraStripe>
          );
        }

        if (key === "latest_news") {
          return (
            <ZebraStripe isDark={true}>
              <LatestNewsBlock title={contentBlock[key].title}>
                <Slider>
                  <SliderItem>
                    <NewsItem
                      title="Team Rocket is blasting off again!"
                      publicationDate="14-02-1995"
                      description={newsText}
                      image={newsImage}
                      imageAltText="image alt text"
                      href={newsItemURL}
                    />
                  </SliderItem>

                  <SliderItem>
                    <NewsItem
                      title="Team Rocket is blasting off again!"
                      publicationDate="14-02-1995"
                      description={newsText}
                      image={newsImage}
                      imageAltText="image alt text"
                      href={newsItemURL}
                    />
                  </SliderItem>

                  <SliderItem>
                    <NewsItem
                      title="Team Rocket is blasting off again!"
                      publicationDate="14-02-1995"
                      description={newsText}
                      image={newsImage}
                      imageAltText="image alt text"
                      href={newsItemURL}
                    />
                  </SliderItem>
                </Slider>
              </LatestNewsBlock>
            </ZebraStripe>
          );
        }

        if (key === "pokemon_data_block") {
          return (
            <ZebraStripe>
              <PokemonDataBlock title={contentBlock[key].title}>
                <PokemonInfoBlock
                  title={contentBlock[key].pokemon_info_title}
                  number={905}
                  description={description}
                  name={"pokemons"}
                  image={Enamorus}
                  primaryType="fairy"
                  secondaryType="flying"
                />
              </PokemonDataBlock>
            </ZebraStripe>
          );
        }
      })
    }
  </main>
</Default>

<script define:vars={{ data }}>
  console.log(data);
</script>
