---
import Default from "../../layouts/Default.astro";
import NewsIntro from "../../components/NewsIntro.astro";
import ZebraStripe from "../../components/ZebraStripe.astro";
import Navigation from "../../components/Navigation.astro";
import getNewsArticle from "../../mappers/pages/NewsDetail";

const article = await getNewsArticle(Astro.url.pathname);
const headTitle = article.seoData?.meta_title ?? article.title;
const metaDescription =
  article.seoData?.meta_description ?? article.introduction;
---

<Default headTitle={headTitle} metaDescription={metaDescription}>
  <main>
    <Navigation />

    <ZebraStripe>
      <div class="news-detail-page">
        <NewsIntro
          title={article.title}
          image={article.image.url}
          imageAlt="A photo of Team Rocket blasting off"
          text={article.introduction}
        />
        <div class="news-detail-container">
          <Fragment set:html={article.content} />
        </div>
      </div>
    </ZebraStripe>
  </main>
</Default>

<style is:global lang="scss">
  .news-detail-container {
    width: 90%;
    max-width: 800px !important;
    margin: auto;

    p:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
      margin-bottom: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 4px #505050;
    }
  }
</style>

<script define:vars={{ article }}>
  console.log(article);
</script>
