---
interface Props {
  title: string;
  publicationDate: string;
  description: string;
  image: ImageMetadata;
  imageAltText: string;
  href: string;
}

const { title, publicationDate, description, image, imageAltText, href } =
  Astro.props;
---

<a href={href} class="link-card">
  <div class="link-card-image">
    <img src={image.src} alt={imageAltText} />
  </div>
  <div class="link-card-content">
    <h3 class="link-card-title margin-bottom-0">{title}</h3>
    <p class="datetime">
      <time datetime={publicationDate}>{publicationDate}</time>
    </p>
    <p class="description mw-text">{description}</p>
  </div>
</a>

<style scoped lang="scss">
  @use "../styles/breakpoints.scss" as *;

  .link-card {
    width: 100%;
    color: white;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .link-card-content {
      align-self: flex-start;
      margin-left: 3.5%;
    }

    .link-card-title {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .link-card-item-image {
      border-radius: 30px;
      overflow: hidden;
      width: 93%;
      max-width: 405px;
    }

    .description {
      font-size: 16px;
      margin-bottom: 3rem;
    }

    .datetime {
      color: #767676;
      font-size: 16px;
      margin-bottom: 1rem;
    }
  }
</style>
