---
import LinkCard from "./LinkCard.astro";
import { setRoute } from "../utils";

interface Props {
  title: string;
  newsItems: any;
}

const { newsItems, title } = Astro.props;
---

<div class="news-list">
  <div class="container">
    <h2>{title}</h2>
    <div class="news-list-items">
      {
        newsItems.map((article) => (
          <LinkCard
            title={article.title}
            date={article.created_at}
            description={article.introduction}
            image={article.image.url}
            imageAltText={article.image.description}
            href={setRoute(article.url)}
          />
        ))
      }
    </div>
  </div>
</div>

<style is:global lang="scss">
  @use "../styles/breakpoints.scss" as *;

  .news-list {
    .news-list-items {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      @include mq-up("desktop") {
        gap: 1.5rem;
      }

      .link-card {
        flex-basis: 100%;
        border: 1px solid rgb(91, 91, 91);
        padding: 1rem;
        border-radius: 15px;

        @include mq-up("small-tablet") {
          flex-basis: calc(50% - 1rem);
        }

        @include mq-up("desktop") {
          flex-basis: calc(100% / 3 - 1.5rem);
        }
      }
    }
  }
</style>
