---
import type { PokemonType } from "../types/types";
import {
  toPokemonNumber,
  setRoute,
  hexToHSL,
  defineHoverColor,
  defineTextColor,
  defineTypeBgColor,
} from "../utils";

interface Props {
  title: string;
  number: number;
  name: string;
  pokemonTypes: PokemonType[];
  description: string;
  imageUrl: string;
  backgroundColor: string;
  url: string;
}

const {
  title,
  number,
  name,
  pokemonTypes,
  description,
  imageUrl,
  backgroundColor,
  url,
} = Astro.props;

const pokemonNumber = toPokemonNumber(number);
const pokemonURL = setRoute(url);
const bg = hexToHSL(backgroundColor);
const hoverBg = defineHoverColor(bg);
const textColor = defineTextColor(bg);
const typeBg = defineTypeBgColor(bg);
---

<a href={pokemonURL} class="pokemon-info-block">
  <h3 class="pokemon-info-block-title margin-bottom-0">{title}</h3>
  <div class="image">
    <img src={imageUrl} alt={`Image of ${name}`} />
  </div>
  <div class="pokemon-info">
    <div class="pokemon-name-and-number">
      <p class="pokemon-number">{pokemonNumber}</p>
      <p class="pokemon-name">{name}</p>
    </div>
    <div class="pokemon-types">
      <span class="pokemon-type">{pokemonTypes[0]}</span>
      {pokemonTypes[1] && <span class="pokemon-type">{pokemonTypes[1]}</span>}
    </div>
    <div class="pokemon-description mw-text">
      <p>{description}</p>
    </div>
  </div>
  <slot />
</a>

<style scoped lang="scss" define:vars={{ bg, hoverBg, textColor, typeBg }}>
  @use "../styles/breakpoints.scss" as *;

  @mixin reset-grid-properties {
    grid-row-start: auto; // reset grid-row-start
    grid-column: auto / auto; // reset grid-column
  }

  .pokemon-info-block {
    background: var(--bg);

    border-radius: 30px;
    padding: 1.5rem 1.25rem 2rem;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);

    color: var(--textColor);
    text-decoration: none;

    &:hover {
      background: var(--hoverBg);
    }

    @include mq-up("big-tablet") {
      grid-template-columns: 250px auto;
      column-gap: 1rem;
    }

    .pokemon-info-block-title {
      grid-row-start: 1;
      grid-column: 1 / span 2;
      font-family: "Mitr", sans-serif;
      font-size: 30px;

      @include mq-up("big-tablet") {
        @include reset-grid-properties;
        font-size: 40px;
        line-height: 45px;
        grid-column-start: 2;
        grid-row: 1;
      }
    }

    .image {
      grid-row-start: 2;
      grid-column: 1 / span 2;

      @include mq-up("big-tablet") {
        @include reset-grid-properties;
        grid-column-start: 1;
        grid-row: 1 / span 3;
      }

      img {
        max-width: 240px;
        margin: auto;
      }
    }
  }

  .pokemon-info {
    grid-row-start: 3;
    grid-column: 1 / span 2;

    @include mq-up("big-tablet") {
      @include reset-grid-properties;
      grid-column-start: 2;
      grid-row: 2 / span 2;
    }

    .pokemon-name-and-number {
      font-family: "Mitr", sans-serif;
      margin-bottom: 1rem;
      margin-top: 1rem;

      .pokemon-number {
        font-weight: 300;
        font-size: 22px;
        margin-bottom: 0.5rem;
      }
      .pokemon-name {
        font-weight: 500;
        font-size: 30px;
      }
    }

    .pokemon-types {
      display: flex;
      margin-bottom: 1rem;

      .pokemon-type {
        display: block;
        background: var(--typeBg);
        border-radius: 300px;
        padding: 0.5rem 1.5rem;
        color: var(--bg);

        &:nth-of-type(2) {
          margin-left: 0.75rem;
        }
      }
    }
  }
</style>
