---
import PokemonCard from "./PokemonCard.astro";
import { setRoute } from "../utils";

interface Props {
  title: string;
  pokemonList: any;
}

const { pokemonList, title } = Astro.props;
---

<div class="pokemon-list">
  <div class="container">
    <h2>{title}</h2>
    <div class="pokemon-list-items">
      {
        pokemonList.map((pokemon) => (
          <PokemonCard
            name={pokemon.title}
            number={pokemon.pokemon_number}
            image={pokemon.image.url}
            imageAltText={`Image of ${pokemon.title}`}
            href={setRoute(pokemon.url)}
          />
        ))
      }
    </div>
  </div>
</div>

<style is:global lang="scss">
  @use "../styles/breakpoints.scss" as *;

  .pokemon-list {
    .pokemon-list-items {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      @include mq-up("desktop") {
        gap: 1.5rem;
      }

      .pokemon-card {
        flex-basis: 100%;
        border: 1px solid rgb(91, 91, 91);
        padding: 1rem;
        border-radius: 15px;

        @include mq-up("small-tablet") {
          flex-basis: calc(50% - 1rem);
        }

        @include mq-up("desktop") {
          flex-basis: calc(100% / 3 - 1.5rem);
        }

        @include mq-up("xlscreen") {
          flex-basis: calc(25% - 1.5rem);
        }
      }
    }
  }
</style>
