---
import ZebraStripe from "../../components/ZebraStripe.astro";
import SimpleTextBlock from "../../components/SimpleTextBlock.astro";
import EvolutionBlock from "../../components/EvolutionBlock.astro";
import PokemonBaseInfo from "../../components/PokemonBaseInfo.astro";
import Pokedex from "../../layouts/Pokedex.astro";
import getPokemonInfo from "../../mappers/pages/PokemonDetail";
import PageContent from "../../components/PageContent.astro";
const text = `Enter the enchanting world of Pokémon with our concise news coverage. Whether you're a devoted Trainer or new to the game, our page keeps you updated on the latest in the Pokémon universe. From new regions to legendary encounters, events, evolutions, and controversies, we've got it all. Dive in and stay informed!`;

const pokemon = await getPokemonInfo(Astro.url.pathname);
const pokemonTypes = pokemon.types.map((pkmn) => pkmn.title);
---

<Pokedex headTitle={pokemon.name} backgroundColor={pokemon.backgroundColor}>
  <PokemonBaseInfo
    name={pokemon.name}
    number={pokemon.number}
    pokemonTypes={pokemonTypes}
    typeColor={pokemon.backgroundColor}
    image={pokemon.image.url}
    imageAlt={`Image of ${pokemon.name}`}
  />
  <main>
    <ZebraStripe>
      <SimpleTextBlock title="Base info" text={pokemon.baseInfo} />
    </ZebraStripe>

    <ZebraStripe>
      <EvolutionBlock evolutions={pokemon.evolutionChain} />
    </ZebraStripe>
  </main>
</Pokedex>

<script define:vars={{ pokemon }}>
  console.log(pokemon);
</script>
