---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import data from "../mappers/layouts/Default";

interface Props {
  headTitle: string;
}

const { headTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mitr:wght@300;500&family=Rubik:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{headTitle}</title>
  </head>
  <body>
    <Header title={data.siteTitle} text={data.tagline} />
    <slot />
    <Footer text={data.footerText} />
  </body>
</html>

<style is:global lang="scss">
  @use "../styles/global.scss";
</style>
