---
import NavButton from "../components/NavButton.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getSiteBaseURL } from "../utils/index";

interface Props {
  headTitle: string;
}

const { headTitle } = Astro.props;
const currentYear = new Date().getFullYear();
const hostURL = process.env.HOST_URL;
const sitePath = process.env.SITE_PATH;
const nodeEnv = process.env.NODE_ENV;
const abc = getSiteBaseURL();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mitr:wght@300;500&family=Rubik:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{headTitle}</title>
  </head>
  <body>
    <h1>
      Site: {hostURL} | Base: {sitePath} | Env: {nodeEnv} | SiteBaseURL: {abc}
    </h1>
    <Header
      title="PokemonPrime"
      text="Stay in the Loop with Pokémon: Your Daily Dose of PokéNews & Real-Time Data Updates!"
    />
    <slot />
    <Footer
      text={`All content & design © PokemonPrime, ${currentYear}. Pokémon images & names © 1995-${currentYear} Nintendo/Game Freak.`}
    />
  </body>
</html>

<style is:global lang="scss">
  @use "../styles/global.scss";
</style>
